
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"/>
  <link
    rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"/>
    <title>Generar Informe</title>
  </head>
  <body>
  <div class="container"> 
  <h1 allign="center">Datos a reportar</h1>
  <form method="POST">
    <div class="form-group">
      <label for="primer_nombre">Primer Nombre</label>
      <input
        type="text"
        class="form-control"
        id="primer_nombre"
        name="primer_nombre"
        placeholder="Introducir primer nombre..."
      />
    </div>

    <div class="form-group">
      <label for="segundo_nombre">Segundo Nombre</label>
      <input
        type="text"
        class="form-control"
        id="segundo_nombre"
        name="segundo_nombre"
        placeholder="Introducir segundo nombre o apellido"
      />
    </div>
    <div class="form-group">
      <label for="item">Item</label>
      <input
        type="text"
        class="form-control"
        id="item"
        name="item"
        placeholder="introducir item"
      />
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción / Resultado</label>
      <input
        type="text"
        class="form-control"
        id="descripcion"
        name="descripcion"
        placeholder="Descripcion del item (ej:'NEGATIVO')"
      />
    </div>
    <div class="form-group">
      <label for="cantidad">Cantidad</label>
      <input
        type="text"
        class="form-control"
        id="cantidad"
        name="cantidad"
        placeholder="Introducir cantidad..."
      />
    </div>
    <div class="form-group">
      <label for="costo">Costo</label>
      <input
        type="text"
        class="form-control"
        id="costo"
        name="costo"
        placeholder="Introducir el costo por unidad..."
      />
    </div>
    <br />
    <div allign="center">
      <button type="submit" class="btn btn-primary">Generar Informe</button>
      <button type="submit" class="btn btn-dark"><a href="/">Inicio</a></button>
    </div>
  </form>
  
</div>
  </body>
  <script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>

  </html>

